* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
}

.navigationBar {
	display: flex;
	justify-content: space-around;
	background-color: grey;
}

.navigationButtons {
	display: flex;
	flex-direction: row;
	
}

.home {
	padding: 15px;
}

.about {
	padding: 15px;
}
.portfolio {
	padding: 15px;
}

.socials {
	padding: 15px;
}


section.mainImage {
	display: flex;
	margin: 0 auto;

}

.scenicPhoto {
	
}

.threeboxLayout {
	display: grid;
	display: flex;
	width: 800px;
	grid-template-columns: 33.3% 33.3% 33.3%;
	margin: 0 auto;
}

