* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
}

.navigationBar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: white;
	background: rgb(17, 39, 49);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	border: 2px solid white;
}

.navigationBar button {
	margin: 20px 20px;
	border-top: 2px solid white;
	font-family: 'Times New Roman';
	font-size: 2.0rem;
	text-decoration: none;
}

.container {
	display: flex;
	width: 800px;
	margin: 0 auto;
}

.mainImage {
	display: flex;
	justify-content: center;
	width: 100%;
}


.backgroundImage {
	background-image: url("https://images.unsplash.com/photo-1592750088063-96b411cd5895?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	padding: 400px 0px;
	z-index: -20;
	display: flex;
	justify-content: center;
	align-items; center;
}

.overlayText {
	color: white;
	border: 1px solid white;
	padding: 0px 1%;
	z-index: -10;
}

.secondOverlayText {
	position: relative;	
}


.aboutMe {
	display: grid;
	grid-template-columns: 50% 50%;
	padding: 200px 20% 280px 20%;
	background: lightgrey;
}

.aboutMeBox {
	display: flex;
	padding-left: 20px;
	flex-direction: column;
	
	
}

.aboutMeTitle {
	display: flex;
	align-self: center;
}

.pictureOfOwner {
	width: 50%;
	height: 100%;
	align-self: center;
}

.textAboutMe {
	display: flex;
	align-items: center;
}


.threeBoxLayout {
	display: grid;
	grid-template-columns: 33.3% 33.3% 33.3%;
	padding: 20px 20%;
	
}


.portfolioTitle {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}



.leftBox {
	display: flex;
	padding: 20px 20px;
	flex-direction: column;
	justify-content: center;
}

.middleBox {
	display: flex;
	padding: 20px 20px;
	flex-direction: column;
	justify-content: center;
}

.rightBox {
	display: flex;
	padding: 20px 20px;
	flex-direction: column;
	justify-content: center;
}


.leftBelowBox {
	display: flex;
	padding: 20px 20px;
	flex-direction: column;
	justify-content: center;
 
}

.middleBelowBox {
	display: flex;
	padding: 20px 20px;
	flex-direction: column;
	justify-content: center;
	
}

.rightBelowBox {
	display: flex;
	padding: 20px 20px;
	flex-direction: column;
	justify-content: center;
	
}

.portImage {
	display: flex;
	justify-content: center;
	object-fit: cover;
	
}

.portfolioImage {
	object-fit: cover;
}

.portfolioText {
	display: flex;
	justify-content: center;
	padding-top: 10px;
}


footer {
	display: flex;
	padding: 10px 21.45%;
	font-size: 1.5rem;
	margin-top: 50px;
	border-bottom: 2px solid black;
	
}

.socialLinksActual {
	width: 60%;
	
}

.mediaLogo {
	max-width: 20%;
	max-height: 20%;
}

@media screen and (max-width: 900px) {
	.threeBoxLayout {
		display: flex;
		width: 100%;
		grid-template-columns: 100%;
		flex-direction: column;
		
	}
	

}

