* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
}

.navigationBar {
	display: flex;
	justify-content: space-around;
	background-color: grey;
	align-items: baseline;
}

.navigationButtons {
	display: flex;
	flex-direction: row;
	
}

.home {
	padding: 15px;
}

.about {
	padding: 15px;
}
.portfolio {
	padding: 15px;
}

.socials {
	padding: 15px;
}


section.mainImage {
	display: flex;
	margin: 0 auto;

}

.scenicPhoto {
	
}

.container {
	display: flex;
	width: 800px;
	margin: 0 auto;
}

.threeBoxLayout {
	display: grid;
	display: flex;
	grid-template-columns: 33.3% 33.3% 33.3%;
}


.portfolioImage {
	max-width: 50%;
	max-height: 50%;
}

@media screen and (max-width: 700px) {
	
}

